.order-card {
    color: #fff;
}

.bg-c-yellow {
    background: linear-gradient(45deg, #ffc107, #FC983C);
}

.card {
    border-radius: 9px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

#sidebar {
    background-color: rgb(36, 37, 38) !important;
}

#content {
    background-color: rgb(24, 25, 26);
}

#navbar {
    background-color: rgb(36, 37, 38);
}

@media (max-width: 900px) {
    #sidebarCollapse {
        display: none;
    }
}

/* #navbarSupportedContent { 
    display:none !important; 
    }

    @media screen and (max-width: 500px) {
    #navbarSupportedContent { 
    display:block !important; }
} */

@media(min-width: 901px) {
    #navbar-mobile {
        display: none;
    }
}

.nav-link {
    color: #FFFFFFCC !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ffc107 !important;
}

@media(min-width: 900px) {
    #footer {
        display: none;
    }
}

#logout {
    background-color: inherit;
    border: none;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 8px;
    color: #FFFFFFCC;
}

.bottone-noleggio, .bottone-noleggio:hover, .bottone-noleggio:active, .bottone-noleggio:visited {
    background-color: #FFFFFFCC !important;
}

.tabella {
    border-radius: 0.25rem;
}

@media(max-width: 899px) {
    #paragrafo-dashboard {
        display: none;
    }
}

.logo-dashboard{
    margin-bottom: 150px;
}

@media(min-width: 768px){
	.notifica {
	height: 146px;
	}
}